@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "新随笔";
}
@section style{

    <style>
        pre {
            font-size: 12px;
            display: inherit;
            padding: 0;
            line-height: inherit;
            word-break: inherit;
            word-wrap: inherit;
            border-width: 0;
            background-color: transparent;
        }

        .help-wch-editor-height {
            position: absolute;
            top: 170px;
            border: 1px solid red;
            bottom: 10px;
            width: 200px;
            visibility: hidden;
        }

        .footer {
            display: none;
        }
    </style>

    <style>
        .testClassName {
            background: transparent url(/Assets/xhEditor/xheditor_skin/nostyle/img/anchor.gif) no-repeat 20px 20px;
            background-position: 3px 3px;
        }
    </style>
}

<div class="help-wch-editor-height">辅助确定编辑器的高度</div>

<div class="row">
    <div class="col-xs-24">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">正文</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">属性</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <textarea name="Content" class="wch-editor" id="articleEditor" style="width:100%;"></textarea>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>
        </div>

    </div>
</div>
<div class="hidden">
    <div id="templatePanel">
        <div class="panel panel-primary">
            <p class="panel-heading">标题</p>
            <div class="panel-body">
                <p>正文</p>
            </div>
        </div>
        <p><br /></p>
    </div>
    <div id="templatePageHeader">
        <div class="page-header">
            <h1>主标题 <small>副标题</small></h1>
        </div>
    </div>
</div>



@section script{
    <script src="~/Assets/js/jquery-1.12.4.js"></script>
    <script src="~/Assets/xhEditor/xheditor.js"></script>
    <script src="~/Assets/xhEditor/xheditor_lang/zh-cn.js"></script>
    <script>
        $(function () {

            var allPlugin = {
                bootstrap: {
                    c: 'testClassName', t: '组件', s: 'ctrl+5', h: 1, e: function () {
                        var _this = this;
                        var arrMenu = [{ s: '面板', v: '#templatePanel', t: 'panel' },
                            { s: '页头', v: '#templatePageHeader', t: 'page-header' },
                            { s: '菜单3', v: 'menu3', t: '这是菜单3' }];
                        _this.saveBookmark();
                        _this.showMenu(arrMenu, function (id) {
                            var html= $(id).clone(false).html();
                            _this.pasteHTML(html);
                        });
                    }
                },
            };
            //editor = $('#elm1').xheditor({ plugins: allPlugin, tools: 'subscript,superscript,test1,test2,test3,test4,test5,test6,test7,|,Source,Fullscreen,About' });



            var height = $(".help-wch-editor-height").height();
            //console.log(height);
            $("#articleEditor").height(height);
            var editor = $('#articleEditor').xheditor({
                plugins: allPlugin,
                skin: 'nostyle',
                showBlocktag: true,
                forcePtag:true,
                loadCSS: '/Assets/bootstrap/css/bootstrap.css',
                disableContextmenu: true
            });

            //editor.addShortcuts("alt+j", function () {
            //    var html = $("#templatePanel").clone(false).html();
            //   editor.pasteHTML(html,false);
            //});

        });
    </script>
}
