@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "新随笔";
}
@section style{

    <style>
        pre {
            font-size: 12px;
            display: inherit;
            padding: 0;
            line-height: inherit;
            word-break: inherit;
            word-wrap: inherit;
            border-width: 0;
            background-color: transparent;
        }

        .wch-editor {
            position: absolute;
            top: 170px;
            border: 1px solid red;
            bottom: 10px;
            width: 200px;
            visibility: hidden;
        }

        .footer {
            display: none;
        }
    </style>
}

<div class="wch-editor">辅助确定编辑器的高度</div>

<div class="row">
    <div class="col-xs-24">

        <!-- Nav tabs -->
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">正文</a></li>
            <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">正文</a></li>

        </ul>

        <!-- Tab panes -->
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <textarea name="Content" class="wch-editor" id="articleEditor" style="width:100%;"></textarea>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <form>
                    <div class="form-group">
                        <label for="exampleInputEmail1">Email address</label>
                        <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Email">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputPassword1">Password</label>
                        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div>
                    <div class="form-group">
                        <label for="exampleInputFile">File input</label>
                        <input type="file" id="exampleInputFile">
                        <p class="help-block">Example block-level help text here.</p>
                    </div>
                    <div class="checkbox">
                        <label>
                            <input type="checkbox"> Check me out
                        </label>
                    </div>
                    <button type="submit" class="btn btn-default">Submit</button>
                </form>

            </div>
        </div>

    </div>





</div>



@section script{
    <script src="~/Assets/js/jquery-1.12.4.js"></script>
    <script src="~/Assets/xhEditor/xheditor.js"></script>
    <script src="~/Assets/xhEditor/xheditor_lang/zh-cn.js"></script>
    <script>
        $(function () {
            var height = $(".wch-editor").height();
            //console.log(height);
            $("#articleEditor").height(height);
            var editor = $('#articleEditor').xheditor({ skin: 'nostyle', showBlocktag: true, loadCSS: '/Assets/bootstrap/css/bootstrap.css', disableContextmenu: true });
            editor.addShortcuts("alt+j", function () {
                editor.pasteHTML('<div class="panel panel-default">'
  +'<div class="panel-heading">Panel heading</div>'
  +'<p>plachoude</p>'
+'</div>');
            });

            editor.addShortcuts("alt+i", function () {

                var rng = editor.getRng();

                rng.insertNode(rng.createContextualFragment("<b>Hello</b>"));
                //$(m.parant).before("");
                editor.pasteHTML('<div class="panel panel-primary">'
  + '<div class="panel-heading">Panel heading</div>'
  + '<p>plachoude</p>'
+ '</div>',true);
            });
        });
    </script>
}
