@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "随笔";
}
@section style{

    <style>
        pre {
            font-size: 12px;
            display: inherit;
            padding: 0;
            line-height: inherit;
            word-break: inherit;
            word-wrap: inherit;
            border-width: 0;
            background-color: transparent;
        }

        .help-wch-editor-height {
            position: absolute;
            top: 170px;
            border: 1px solid red;
            bottom: 10px;
            width: 200px;
            visibility: hidden;
        }

        .footer {
            display: none;
        }

        .btn-float-right {
            position: absolute;
            /*margin-top: 40px;*/
            display:inline-block;
        }
    </style>

    <style>
        .bootstrap-component {
            background: transparent url(/Assets/img/pngformat/TileWindowsHorizontallyHS.png) no-repeat;
            background-position: 3px 3px;
        }

        .bootstrap-page {
            background: transparent url(/Assets/img/pngformat/DisplayInColorHS.png) no-repeat;
            background-position: 3px 3px;
        }

        .bootstrap-layout {
            background: transparent url(/Assets/img/pngformat/ShowGridlines2HS.png) no-repeat;
            background-position: 3px 3px;
        }
    </style>
}
@section script{
    <script src="~/Assets/js/jquery-1.12.4.js"></script>
    <script src="~/Assets/xhEditor/xheditor.js"></script>
    <script src="~/Assets/xhEditor/xheditor_lang/zh-cn.js"></script>
    <script>
        $(function () {
            var height = $(".help-wch-editor-height").height();
            //console.log(height);
            $("#articleEditor").height(height);


            var myplugin = {
                bootstrapcomponent: {
                    c: 'bootstrap-component', t: '组件', s: '', h: 1, e: function () {
                        var _this = this;
                        var arrMenu = [{ s: '面板', v: '#templatePanel', t: '' },
                            { s: '页头', v: '#templatePageHeader', t: '' } ];
                        _this.saveBookmark();
                        _this.showMenu(arrMenu, function (id) {
                            var html= $(id).clone(false).html();
                            _this.appendHTML(html);
                            _this.loadBookmark();
                        });
                    }
                },
                bootstrappage: {
                    c: 'bootstrap-page', t: '段落', s: '', h: 1, e: function () {
                        var _this = this;
                        var arrMenu = [{ s: 'primary', v: '#template-bg-primary', t: '' },
                            { s: 'success', v: '#template-bg-success', t: '' },
                        { s: 'info', v: '#template-bg-info', t: '' },
                        { s: 'warning', v: '#template-bg-warning', t: '' },
                        { s: 'danger', v: '#template-bg-danger', t: '' }];
                        _this.saveBookmark();
                        _this.showMenu(arrMenu, function (id) {
                            var html = $(id).clone(false).html();
                            _this.appendHTML(html);
                            _this.loadBookmark();
                        });
                    }
                },
                bootstraplayout: {
                    c: 'bootstrap-layout', t: '栅格', s: '', h: 1, e: function () {
                        var _this = this;
                        var arrMenu = [{ s: 'col-2', v: '#template-col-2', t: '' },
                         { s: 'col-3', v: '#template-col-3', t: '' },
                        { s: 'col-4', v: '#template-col-4', t: '' },
                        { s: 'col-6', v: '#template-col-6', t: '' }];
                        _this.saveBookmark();
                        _this.showMenu(arrMenu, function (id) {
                            var html = $(id).clone(false).html();
                            _this.appendHTML(html);
                            _this.loadBookmark();
                        });
                    }
                },
            };
            window.editor = $('#articleEditor').xheditor({
                plugins: myplugin,
                skin: 'nostyle',
                showBlocktag: true,
                forcePtag: true,
                loadCSS: '/Assets/bootstrap/css/bootstrap.css',
                disableContextmenu: true,
                tools:'Cut,Copy,Paste,Pastetext'
                + ',|,Blocktag,Fontface,FontSize,Bold,Italic,Underline,Strikethrough,FontColor,BackColor,SelectAll,Removeformat'
                + ',|,Align,List,Outdent,Indent'
                + ',|,bootstrapcomponent,bootstrappage,bootstraplayout'
                + ',|,Link,Unlink,Hr,Emot'
                + ',|,Source,Fullscreen'
            });

            //editor.addShortcuts("alt+j", function () {
            //    var html = $("#templatePanel").clone(false).html();
            //   editor.pasteHTML(html,false);
            //});

        });
    </script>

    <script>

        $(function () {

            $("#btnSave").click(function () {
                var form = $(this).parents("form");
                var parameter = {};
                $.each(form.serializeArray(), function (index, el) {
                    parameter[el.name] = el.value;
                });

                $.ajax({
                    url: form.attr("action"),
                    method:"POST",
                    processData: false,
                    data: JSON.stringify(parameter),
                    contentType:"application/json",
                    success: function (rt) {
                        console.log(rt.Body.Id);
                        $(form).find("input[name=Id]").val(rt.Body.Id);
                    }
                });


                //postwrapper(form.attr("action"), parameter, function (rt) {
                //    console.log(rt.Body.Id);
                //    $(form).find("input[name=Id]").val(rt.Body.Id);
                //},"保存中...");
                return false;
            });
        });
    </script>
}


<div class="help-wch-editor-height">辅助确定编辑器的高度</div>

<div class="row">
    <form method="post" action="~/article/save">
        <input type="hidden" name="Id" />
        <div class="col-xs-24">
            <!-- Nav tabs -->

            <ul class="nav nav-tabs" role="tablist">
                <li role="presentation" class="active"><a href="#home" aria-controls="home" role="tab" data-toggle="tab">正文</a></li>
                <li role="presentation"><a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">属性</a></li>

            </ul>

            <!-- Tab panes -->
            <div class="tab-content">

                <div role="tabpanel" class="tab-pane active" id="home">
                    <textarea name="Content" class="wch-editor" id="articleEditor" style="width:100%;"></textarea>
                </div>
                <div role="tabpanel" class="tab-pane" id="profile">

                    <div class="form-group">
                        <label for="txtTitle">标题</label>
                        <input type="text" name="Title" class="form-control" id="txtTitle" placeholder="">
                    </div>
                    <div class="form-group">
                        <label for="txtContentAbstract">摘要</label>
                        <textarea  class="form-control" rows="3" name="ContentAbstract" id="txtContentAbstract" style="resize:none"></textarea>
                    </div>
                    <div class="form-group">
                        <label for="fileCoverUrl">封面图片</label>
                        <input type="file" name="CoverUrl" id="fileCoverUrl">
                    </div>


                </div>


            </div>

        </div>
      
                <div class="btn-float-right">
             <button id="btnSave" type="submit" class="btn btn-primary btn-block">保存</button>
            <button id="btnPublish" type="button" class="btn btn-primary btn-block">发布</button>
        </div>
       
    </form>
</div>
 
<div class="hidden">
    <div id="templatePanel">
        <div class="panel panel-primary">
            <p class="panel-heading">标题</p>
            <div class="panel-body">
                <p>正文</p>
            </div>
        </div>
        <p><br /></p>
    </div>
    <div id="templatePageHeader">
        <div class="page-header">
            <h1>主标题 <small>副标题</small></h1>
        </div>
        <p><br /></p>
    </div>

    <div id="template-bg-primary">
        <p class="bg-primary">Page</p>
        <p><br /></p>
    </div>

    <div id="template-bg-success">
        <p class="bg-success">Page</p>
        <p><br /></p>
    </div>
    <div id="template-bg-info">
        <p class="bg-info">Page</p>
        <p><br /></p>
    </div>
    <div id="template-bg-warning">
        <p class="bg-warning">Page</p>
        <p><br /></p>
    </div>
    <div id="template-bg-danger">
        <p class="bg-danger">Page</p>
        <p><br /></p>
    </div>

    <div id="template-col-2">
        <div class="row">
            <div class="col-md-12">1</div>
            <div class="col-md-12">2</div>
        </div>
        <p><br /></p>
    </div>

    <div id="template-col-3">
        <div class="row">
            <div class="col-md-8">1</div>
            <div class="col-md-8">2</div>
            <div class="col-md-8">3</div>
        </div>
        <p><br /></p>
    </div>
    <div id="template-col-4">
        <div class="row">
            <div class="col-md-6">1</div>
            <div class="col-md-6">2</div>
            <div class="col-md-6">3</div>
            <div class="col-md-6">4</div>
        </div>
        <p><br /></p>
    </div>

    <div id="template-col-6">
        <div class="row">
            <div class="col-md-4">1</div>
            <div class="col-md-4">2</div>
            <div class="col-md-4">3</div>
            <div class="col-md-4">4</div>
            <div class="col-md-4">5</div>
            <div class="col-md-4">6</div>
        </div>
        <p><br /></p>
    </div>

</div>



