@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "迷津";
}


<a href="~/author/index">个人中心</a>
<a href="~/article/paper" target="_blank">随笔</a>
<a href="~/article/index?id=1111111111" target="_blank">Webform视图，Reapeter</a>
